{% extends "core/base.html" %}

{% block title %}Detalles{% endblock %}
{% block content %}
  
    <h3 class="card-title" align="center">{{nombreAnterior.nombre}}</h3>

    <div class="row" >
        
            <div class="col-sm-12">
                        {% for detalle in detalles %}
                            <div class="text-container">
                                {{detalle|safe}}
                            </div>
                        {% endfor %}
            </div>
        
    </div>
    
{% endblock  %}
