{% extends "core/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <style>
    @media only screen and (max-width: 600px) {
        #titulo-medico {
            font-size: 1.5rem;
            text-align: center;
            padding-bottom: 0.8rem;
        }
    }
    </style>
    {% if user.is_medico %}
        <h2 id="titulo-medico">Bienvenido(a)
             <small class="text-muted">{{user.first_name}} {{user.last_name}}!</small>
        </h2>
        <blockquote class="blockquote">
            <p class="mb-0" style="font-size: 1rem;">A continuación puedes ver la lista de todos los cuidadores de la plataforma.</p>
            
        </blockquote>
        <div style="display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;">
            <a class="btn btn-success" href="{% url 'agregar_cuidador' %}">
                Agregar
            </a>     
                    
        </div>
            <table id="tablaCuidadoresMedico" class="table">
                
                
                <thead>
                    
                <tr>
                    <th scope="col">Nombre Cuidador</th>
                    <th scope="col">Edad</th>
                    <th scope="col">Estado civil</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Relación paciente</th>
                    <th scope="col">Inicio cuidados</th>
                    <th scope="col">Tests</th>
                    <!--<th scope="col">Síntomas</th>-->
                </tr>
                </thead>
                <tbody>
                {% for cuidador in cuidadores %}  
                    <tr>
                        <th scope="row">{{cuidador.user.first_name}} {{cuidador.user.last_name}}</th>
                        <td>{{cuidador.edad}} años</td>
                        <td>{{cuidador.estado_civil}}(a)</td>
                        <td><span class="badge badge-info">{{cuidador.tipo}}</span></td>
                        <td>{{cuidador.relacion_paciente}}(a)</td>
                        <td>{{cuidador.fecha_cuidado}}</td>
                        <td><a href="{% url 'test_cuidador' cuidador.user.id %}" class="btn btn-info btn-sm">
                            <i class="fa fa-info-circle mr-1" aria-hidden="true"></i>Detalles</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% else %}
        {% if 'profile_error' in request.GET %}
        <div class="alert alert-warning" role="alert">
            Para realizar un test, primero debes completar tu perfil en la sección <a href="{% url 'info_cuidador' %}">Perfil</a>!
        </div>
        {% endif %}
        <form class=" my-lg-0" method="GET">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" name="buscar" value="{{request.GET.buscar}}">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </div>
            </div>
        </form>
        <div class="row">
            {% if not 'buscar' in request.GET %}
                <div class="col-md-4">
                    <div class="card mb-3 card-custom" >
                        <img class="card-img-top " height="210" src="https://www.psicoajuda.pt/wp-content/uploads/2019/04/0197-Cuidador-Informal_opt.jpg" alt="Card image cap">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <h5 class="card-title">Educación para el cuidador</h5>
                                <p class="card-text">Aquí encontrarás diferentes tópicos relacionados a temas de educación para el cuidador</p>
                                <a href="{% url 'topicos' %}" class="btn btn-primary stretched-link">Entrar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 card-custom">
                        <img class="card-img-top" height="210" src="https://i.pinimg.com/originals/81/d2/8b/81d28b5217bc952fd18999e59a31f1cf.jpg" alt="Card image cap">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <h5 class="card-title">Consejos sobre el cuidado</h5>
                                <p class="card-text">Aquí encontrarás consejos sobre disitintos temas para el cuidado del adulto mayor.</p>
                                <a href="{% url 'consejos' %}" class="btn btn-primary stretched-link">Entrar</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-3 card-custom">
                        <img class="card-img-top" height="210" src="https://static2.abc.es/media/201101/26/inteligencia1--644x362.jpg" alt="Card image cap">
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <div class="text-center">
                                <h5 class="card-title">Test</h5>
                                <p class="card-text">Realización de test por parte del cuidador, ya sea para medir sobrecarga del cuidador (ZARIT) o evaluar a paciente con demencia (NPI-Q).</p>
                                <a href="{% url 'test_screen' %}" class="btn btn-primary stretched-link">Entrar</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% else %}
                {% if temas %}
                    {% for tema in temas %}
                        <div class="col-sm-4">
                            <div class="card mb-4 card-custom">
                                <img class="card-img-top" height="210" src="{% if tema.imagen %}{{tema.imagen.url}}{% endif %}" alt="Card image cap">
                                <div class="card-body d-flex align-items-center justify-content-center">
                                    <div class="text-center">
                                        <h5 class="card-title">{{tema.nombre}}</h5>
                                    <!--<p class="card-text">{{seccion.descripcion}}</p>-->
                                    <a href="{% url 'tema_controlador' tema.id %}" class="stretched-link"></a>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col">
                        <h4>No existen resultados.</h4>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% endif %}
{% endblock  %}
