{% extends "core/base.html" %} 
{% block title %}Tópicos{% endblock %} 
{% block content %}

<form class=" my-lg-0" method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" name="buscar" value="{{request.GET.buscar}}">
        <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </div>
    </div>
</form>
<form class="form-inline mb-3" method="get" action="{% url 'topicos' %}">
    <div class="input-group">
      <div class="input-group-prepend mr-2">
        <h3 class="text-center ml-1 " style="display: flex; align-items: center; text-align: center;"><i class="bi bi-filter-left mr-2"></i></h3>
        <span class="text-center ml-1 " style="display: flex; align-items: center; text-align: center;">Tópico: </span>
      </div>
      <select class="form-control mr-2" name="filtro_topico" onchange="this.form.submit()">
        <option value="">Todos</option>
        {% for topico in lista_topicos %}
            {% if topico.id|stringformat:"s" == request.GET.filtro_topico %}
                <option value="{{ topico.id }}" selected>{{ topico.nombre }}</option>
            {% else %}
                <option value="{{ topico.id }}">{{ topico.nombre }}</option>
            {% endif %}
        {% endfor %}
        
      </select>
    </div>
</form>
<div class="row">
    {% for topico in topicos %}
    <div class="col-md-4">
        <div class="card mb-4 card-custom">
            <img class="card-img-top" height="210" src="{% if topico.imagen %}{{topico.imagen.url}}{% endif %}" alt="Card image cap">
            <div class="card-body d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <h5 class="card-title">{{topico.nombre}}</h5>
                    <!--<p class="card-text">{{seccion.descripcion}}</p>-->
                    <div class="row d-flex align-items-center justify-content-center">
                        <a href="{% url 'top_controlador' topico.id %}" class="btn btn-primary  mr-1">Ver más</a>
                        {% if topico.url_infografia %}
                    <!--<a href="{% url 'infografia' topico.id %}" class="stretched-link"></a>-->
                            <a href="{% url 'infografia' topico.id %}" class="btn btn-outline-primary">Ver infografía</a> 
                        {% endif %}
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% include 'pagination.html' with items=topicos %}

{% endblock %}