.form-container {
  background-color: #5C5E61;
  border-radius: 50px;
  box-shadow: 0px 40px 20px -20px rgba(0, 0, 0, 0.4);
  margin: 0 auto;

  flex-direction: column;
  align-items: center;
  padding: 5% 8%;
  gap: 0px;
}
.form-container2 {
  background-color: #5C5E61;
  border-radius: 50px;
  box-shadow: 0px 40px 20px -20px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-width: max-content;
  max-height: max-content;
  flex-direction: column;
  align-items: center;
  padding: 5% 5%;
  gap: 27px;
}
.form-container form[type="group"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.form-group {
  padding: 0px 10%;

}

.form-container input[type="text"]{
  
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 10px;
}
.form-container input[type="password"]{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  border-radius: 10px;
}
.custom-tooltip {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
  
}
.custom-tooltip-error {
  background-color: #fff !important;
  color: #ff0000 !important;
  border: 1px solid #000 !important;
  
}


.form-container p {
  margin: 0;
}

.form-container a {
  color: #0095f6;
}
.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 30px;  
  border: 1px solid #5C5E61;
  border-radius: 50px;
}
.profile-patient-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;  
  border: 1px solid #5C5E61;
  border-radius: 50px;
  gap: 29px;
}
@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column; /* Cambiar a dirección vertical */
    align-items: flex-start; /* Alinear al inicio verticalmente */
  }
}
.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.navbar-nav.navbar-right {
  margin-left: auto;
}

.card-custom {
  background: #F2F2F2 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 50px !important;
}
.card-custom .card-img-top {
  border-radius: 50px 50px 0 0;
  object-fit: cover;
}
.card-top {
  
  width: 324px;
  height: 185px;
  left: 0px;
  top: 0px;

}
.container-card {
  display: flex;
  min-height: 190px;
  background: #DBE0E6;
  border-radius: 50px !important;
  margin-left: auto;

}

.test-choice a {
  opacity: 0; 
  cursor: pointer;
  }
.test-choice a:hover {
  opacity: 1;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-weight: bolder;
}

.daterangepicker .input-group-prepend,
.daterangepicker .input-group-append,
.daterangepicker .calendar-table th,
.daterangepicker .calendar-table td,
.daterangepicker .ranges ul li {
    font-size:medium;
}

a.text {
  color: rgb(112, 112, 112); /* Cambia el color del enlace */
  text-decoration: underline; /* Agrega subrayado al enlace */
}

a.text {
  cursor: pointer; /* Cambia el cursor al pasar el cursor sobre el enlace */
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  gap: 10px;
  background: #5C5E61;
  border-radius: 50px;
  color : white;
  font-size: larger;
}

.navbar-nav .nav-link {
  font-size: 18px; /* Tamaño de letra deseado */
}