.form-container {
  background-color: #5C5E61;
  border-radius: 50px;
  box-shadow: 0px 40px 20px -20px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-width: 439px;
  max-height: 500px;
  flex-direction: column;
  align-items: center;
  padding: 49px 40px;
  gap: 27px;
}
.form-container2 {
  background-color: #5C5E61;
  border-radius: 50px;
  box-shadow: 0px 40px 20px -20px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  max-width: max-content;
  max-height: max-content;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
  gap: 27px;
}
.form-container form[type="group"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.form-container input[type="text"]{
  
  background-color: white;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  box-sizing: border-box;
  border-radius: 10px;
}
.form-container input[type="password"]{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border-radius: 10px;
}
.custom-tooltip {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000 !important;
  
}
.custom-tooltip-error {
  background-color: #fff !important;
  color: #ff0000 !important;
  border: 1px solid #000 !important;
  
}


.form-container p {
  margin: 0;
}

.form-container a {
  color: #0095f6;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}
.navbar-nav.navbar-right {
  margin-left: auto;
}

.card-custom {
  background: #F2F2F2 !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 50px !important;
}
.card-custom .card-img-top {
  border-radius: 50px 50px 0 0;
  object-fit: cover;
}
.card-top {
  
  width: 324px;
  height: 185px;
  left: 0px;
  top: 0px;

}

.test-choice a {
  opacity: 0; 
  cursor: pointer;
  }
.test-choice a:hover {
  opacity: 1;
}
.centered {
  display: flex; 
  align-items: center; 
  text-align: center;
}