{% extends "core/base.html" %}

{% block title %}Portada{% endblock %}
{% block content %}
    <div class="encabezado" align="center">
        <h1>Bienvenido a YoTeCuido</h1>
        <p>Plataforma en apoyo de los cuidadores informales.</p>
    </div>
    <div class="row justify-content-center">
        <div class="mx-auto">
            <a href="{% url 'login' %}" class="btn btn-outline-success btn-lg"><i class="fa fa-sign-in mr-1" aria-hidden="true"></i>Acceder</a>
            <a href="{% url 'signup' %}" class="btn btn-outline-success btn-lg"><i class="fa fa-user-plus mr-1" aria-hidden="true"></i>Registrate</a>
        </div>
    </div>
{% endblock  %}
