{% extends "core/base.html" %}

{% block title %}Registrar Cuidador{% endblock %}
{% block content %}
<h2 align="center">Edición de perfil</h2>
<div class="row">
    <div class="col-md-8 mx-auto">
        <form action="{% url 'editar_perfil_cuidador' form_instance.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!--<input type="submit" value="Submit">-->
            <button type="submit" class="btn btn-primary btn-block">Editar</button>
        </form>
    </div>
</div>
{% endblock  %}