{% extends "core/base.html" %}

{% block title %}Perfil{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8">
        
        {% if 'edit' in request.GET %}
            <div class="alert alert-success" role="alert">
                Perfil editado correctamente!.
            </div>
        {% elif 'create' in request.GET %}
            <div class="alert alert-success" role="alert">
                Perfil completado correctamente!.
            </div>
        {% elif 'zarit' in request.GET %}
            <div class="alert alert-primary" role="alert">
                Completaste un Test de Zarit!.
            </div>
        {% elif 'npi' in request.GET %}
            <div class="alert alert-primary" role="alert">
                Completaste un Test NPI!.
            </div>
        {% endif %}
        {% if not cuidador %}
            <!--<img src="cinqueterre.jpg" class="rounded" alt="Cinque Terre">-->
            <!--<p><b>Edad:</b> {{paciente.edad}}</p>
                <p><b>Estado Civil:</b> {{paciente.estado_civil}}</p>-->
            <div class="profile-container">
                <div class="container text-center">
                    <h4 align="center"><i class="fa fa-user-circle-o fa-3x mr-2 mb-2"aria-hidden="true"></i><br>{{user.username}}</h2>
                    
                </div>
                <div class="container text-center ">
                    <h6 align="center">Por favor completa tu perfil de cuidador</h6>
                    <a href="{% url 'registrar_perfil_cuidador' %}" class="btn btn-outline-primary">Completar Perfil</a>
                </div>
                
            </div>
                
        {% else %}
        <div class="profile-container">
                <div class="container text-center mx-auto"style="width: 70%;">
                    <div class="col-12 mb-5">
                        <h4 align="center"><i class="fa fa-user-circle-o fa-3x mr-2 mb-2"aria-hidden="true"></i><br>{{user.username}}</h2>

                    </div>
                    <div class="col-12 mb-2">
                        <a href="{% url 'editar_perfil_cuidador' cuidador.pk %}" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil-square-o pr-1" aria-hidden="true"></i>Editar Perfil</a>
                    </div>
                    <div class="col-12 mb-2">
                        <a href="{% url 'change-password' %}" class="btn btn-outline-primary btn-sm"><i class="fa fa-pencil-square-o pr-1" aria-hidden="true"></i>Cambiar Contraseña</a>
                    </div>
                </div>
                <div class="container mx-auto">
                    <p><b>Nombre:</b> {{user.first_name}} {{user.last_name}}</p>
                    <hr>
                    <p><b>Edad:</b> {{cuidador.edad}} años</p>
                    <hr>
                    <p><b>Estado Civil:</b> {{cuidador.estado_civil}}(a)</p>
                    <hr>
                    <p><b>Tipo:</b> {{cuidador.tipo}}</p>
                    <hr>
                    <p><b>Relación Paciente:</b> {{cuidador.relacion_paciente}}(a)</p>
                    <hr>
                    <p><b>Inicio Cuidados:</b> {{cuidador.fecha_cuidado}}</p>
                    <hr>
                </div>
        </div>

        
        {% endif %}
            
    </div>
    {% if cuidador %}
      
        <div class="col-md-4">
            <div style="background-color:rgb(219, 224, 230)" class="card container-card mb-1">
                <a href="{% url 'info_test' %}" class="stretched-link">
                </a>
                <div  class="centered"><i class="fa fa-history" aria-hidden="true"></i> TEST REALIZADOS</div>
            </div>
            <div style="background-color: rgb(245, 231, 205);" class="card container-card ">
                <a href="{% url 'info_paciente' %}" class="stretched-link">
                </a>
                <div class="centered">PACIENTE</div>
            </div>
        </div>
    {% endif %}
   
</div>
<hr>
{% endblock  %}
