{% extends "core/base.html" %}

{% block title %}Paciente{% endblock %}
{% block content %}
<h1>Información del paciente</h1>
<div class="row">
    <div class="col-sm-4">
        {% if paciente %}
            <!--<img src="cinqueterre.jpg" class="rounded" alt="Cinque Terre">-->
            <p><b>Nombre:</b> {{paciente.nombres}} {{paciente.apellidos}}</p>
            <p><b>Edad:</b> {{paciente.edad}}</p>
            <p><b>Estado Civil:</b> {{paciente.estado_civil}}</p>
        {% else %}  
            <h5>No ha registrado su paciente</h5>
            <a href="{% url 'registrar_paciente' %}" class="btn btn-outline-primary">Registrar Paciente</a>
        {% endif %}
        <hr>
{% if paciente %}
    </div>
        <div class="col-sm-8 mx-auto">
            <h4>Historial de Síntomas</h4>
            {% if historial %}
                <div class="table-responsive-sm">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Registro</th>
                                <th scope="col">Síntomas</th>
                                <th scope="col">Fecha</th>
                                <th scope="col">Comentario</th>
                            </tr>
                        </thead>
                        <tbody>   
                        {% for registro in historial %}
                            <tr>                
                                <td >{{registro.id}}</td>
                                <td>{% for s in registro.sintomas.all %} {{s}}, {% endfor %}</td>
                                <td>{{registro.fecha}}</td>
                                <td>{{registro.comentario}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h5>No existe ningún registro de síntomas</h5>
            {% endif %}
            <div class="botones text-center">
                <a href="{% url 'registrar_sintoma' %}" class="btn btn-outline-primary">Agregar Síntomas</a>
                <!--<a href="#" class="btn btn-outline-primary">Reporte Paciente</a>-->
            </div>
        </div>
    </div>
{% endif %}
{% endblock  %}
