{% extends "core/base.html" %}

{% block title %}Registrar Paciente{% endblock %}
{% block content %}
<h2 align="center">Ingrese los datos del paciente</h2>
<div class="row">
    <div class="col-md-8 mx-auto">
        <form action="{% url 'registrar_paciente' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!--<input type="submit" value="Submit">-->
            <button type="submit" class="btn btn-primary mx-auto">Registrar</button>
        </form>
    </div>
</div>
{% endblock  %}