{% extends 'core/base.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block content %}


<div class="container p-5 d-flex flex-column justify-content-center vh-70 ">
  <h2 align="center" class="mb-4">Restablecer Contraseña</h2>

  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Restablecimiento de contraseña exitoso</h4>
    <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña,
      si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</p>
    <hr>
    <p class="mb-0">Si no recibe un correo electrónico, asegúrese de haber ingresado la 
      dirección con la que se registró y verifique su carpeta de correo no deseado.</p>
  </div>

</div>

{% endblock %}