{% extends 'core/base.html' %}
{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block content %}
<style>
  .errorlist{color:red;}
  @media only screen and (max-width: 600px) {
  .mobile-title {
    font-size: 1.5rem;
  }
}
</style>
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
        <form action="" method="post">
          {% csrf_token %}
          <h3 align="center" class="mb-4 mobile-title">Cambio de contraseña</h3>
          {{ form.non_field_errors }}
          <div class="fieldWrapper my-2">
              {{ form.old_password.errors }}
              <label style="display:none;" for="{{ form.old_password.id_for_label }}">Username:</label>
              <p>
                <input type="password" name="old_password" autofocus maxlength="254" required
                  id="{{ form.old_password.id_for_label }}" class="form-control" placeholder="Contraseña (antigua)"/>
              </p>
              {{ form.old_password.help_text }}
          </div>
          <div class="fieldWrapper my-2">
            {{ form.new_password1.errors }}
            <label style="display:none;" for="{{ form.new_password1.id_for_label }}">Username:</label>
            <p>
              <input type="password" name="new_password1" autofocus maxlength="254" required
                id="{{ form.new_password1.id_for_label }}" class="form-control" placeholder="Contraseña nueva"/>
            </p>
            {{ form.new_password1.help_text }}
          </div>
          <div class="fieldWrapper my-2">
            {{ form.new_password2.errors }}
            <label style="display:none;" for="{{ form.new_password2.id_for_label }}">Username:</label>
            <p>
              <input type="password" name="new_password2" autofocus maxlength="254" required
                id="{{ form.new_password2.id_for_label }}" class="form-control" placeholder="Contraseña nueva (repetir)"/>
            </p>
            {{ form.new_password2.help_text }}
          </div>
          <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
      </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}